* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: max-content;
}

.hidden {
    display: none;
}