.header {
    width: 30%;
    margin-left: 70%;
    height: 60px;
    // border: 0.1px solid gray;
    
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    ul li {
        line-height: 60px;
        width: 50%;
        text-align: center;
    }
}

.header ul li:hover {
    background-color: aquamarine;
}