.login {
    width: 100%;
    height: max-content;
    display: flex;

    text-align: center;

    p {
        margin-bottom: 40px;

        font-size: 50px;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .login-form {
        width: 30%;
        height: max-content;
        background-color: #f5f5f5;

        border: 0.1px solid gray;
        border-radius: 7px;

        margin: 100px auto;
        padding: 20px 40px;

        .form-input {
            background-color: white;

            margin-bottom: 20px;
        }

        button {
            width: 60%;
            background-image: linear-gradient(yellowgreen, skyblue);
            font-size: 18px;

            border-radius: 7px;
            border: 0.1px solid gray;

            padding: 20px 40px;
        }
    }

    .verify-form {
        display: none;
    }
}
