.list-task {
    width: 100%;

    table {
        width: 100%;

        thead {
            height: 50px;
            font-size: 18px;
        }

        tbody {
            tr td {
                text-align: center;
                height: 50px;
            }

            tr td:first-child {
                text-align: left;
                padding-left: 10px;
                color: darkblue;
            }

            tr td button {
                padding: 5px 20px;
                color: red;
                cursor: pointer;
            }

            tr td button:first-child {
                margin-right: 10px;
                color: green;
            }

            svg {
                margin-right: 10px;
            }
        }
    }
}

.list-task.add {
    width: 70%;
}

tbody tr td button:last-child:hover {
    background-color: red;
    color: white;
}

tbody tr td button:hover {
    background-color: green;
    color: white !important;
    border-radius: 5px;
}

tbody tr:hover {
    background-color: aquamarine;
}

.add-task {
    width: 25%;
    border: 1px solid black;
    margin-right: 5%;
    padding: 20px;
    height: max-content;
    position: relative;

    input {
        margin-top: 15px;
        padding: 5px 10px;
        width: 100%;
    }

    button {
        margin-top: 15px;
        width: 50%;
        padding: 5px 10px;
        margin-left: 25%;

        svg {
            margin-right: 10px;
        }
    }

    .close-task {
        position: absolute;
        height: max-content;
        width: max-content;
        top: 5px;
        right: 10px;
        transform: scale(1.5);
    }
}